@charset "utf-8";

@font-face {
	font-family: Basis;
	src: url('../fonts/BasisGrotesquePro-Regular.ttf') format('truetype');
	font-weight: normal;
 }
 @font-face {
	 font-family: Basis;
	 src: url('../fonts/BasisGrotesquePro-Light.ttf') format('truetype');
	 font-weight: 100;
 }
 @font-face {
	 font-family: Basis;
	 src: url('../fonts/BasisGrotesquePro-Bold.ttf') format('truetype');
	 font-weight: bold;
 }

* {
	font-family: Basis;
	color: black;
}

a {
	color: blue;
}

a:hover {
	color: black;
}

a:active {
	color:gray;
}

section {
	padding-left: 125px;
}

header {
	padding-top: 100px;
	padding-left: 125px;
}

section#quicklinks {
	line-height: 40px;
	
}

section#quicklinks ul {
	padding-left: 0px;
	list-style-type: none;
	padding-bottom: 100px;
}

section#intro {
	color: black;
	padding-bottom: 120px;
}


section#projects h1 {
	font-size: 28px;
}

p {
	font-weight: lighter;
	size: 14px;
}